llama-index
llama-index-embeddings-huggingface
qdrant-client
torch
transformers
llama-index-llms-ollama
llama-index-vector-stores-qdrant
langgraph
langchain 
langchain-core 
langchain-community
ipython
